body{
    margin: 0 0;
    background-color: #161513;
}

.gradient{
    background: linear-gradient(to right,#B16CEA, #FF5E69, #FF8A56, #FFA84B);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

*{
    scroll-snap-type: y mandatory;
    /* scroll-snap-type: y proximity; */
    scroll-padding-top: 20%;
}
