body{
    
    background-color: antiquewhite;
}

#root{
    display: flex;
    justify-content: center;
}

.main-box{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 40%;

    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.2);

    padding: 0% 5% 5%;
    background-color: aquamarine;
}

ol{
    padding-left: 0px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

li{
    align-items: center;
    text-align: center;
    margin: 0% 5%;
}

.list-items{
    display: flex;
    flex-direction: column;
}
