.about-main{    
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: auto;

    margin-top: 6.25%;
    margin-bottom: 6.25%;

    scroll-snap-align: start;
}

.about-container{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem 5rem;
    margin: 0rem 15rem;
    background-color: #1C1C22;
    position: relative;  
    border-radius: 2rem; 
}

.about-container:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right,#B16CEA, #FF5E69, #FF8A56, #FFA84B);
    transform: translate3d(0px, 0px, 0) scale(1.0);
    filter: blur(22px);
    opacity: var(0.54);
    transition: opacity 0.3s;
    border-radius: inherit;
}
.about-container::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
               

.about-img{
    height: auto;
    width: 30rem;
}

.about-text{
    margin-left: 5rem;
}

.about-para{
    padding-bottom: 3rem;
}

.about-heading{
    margin: 4rem 0rem;
}