.project-card{

    height: auto;
    width: 50rem;

    display: flex;
    flex-direction: column;

    padding: 0rem 5rem;
    margin: 4rem 2rem;
    background-color: #1C1C22;
    position: relative;  
    border-radius: 2rem;

    align-items: center;
}

.project-card:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right,#B16CEA, #FF5E69, #FF8A56, #FFA84B);
    transform: translate3d(0px, 0px, 0) scale(1.0);
    filter: blur(22px);
    opacity: var(0.54);
    transition: opacity 0.3s;
    border-radius: inherit;
}
.project-card::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

.font3{
    margin: 0;
}
.link{
    margin: 0;
    cursor: pointer;
}

.img{
    height: auto;
    width: 100%;
    border-radius: 2rem;
    margin-top: 2rem;
}
