.nav{
    height: 20%;
    display: flex;
    justify-content: flex-end;
    
    position: sticky;
    top: 0;

    background: linear-gradient(180deg, #1C1C22 0%, rgba(22, 21, 19, 0.00) 100%);
    z-index: 100;
    transition: background-color 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;

}

.nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
}

li{
    display: flex;
    flex-direction: row;
    padding-right: 5rem;
    padding-top: 2.5rem;
}

.nav-bg{
    background-color: #1C1C22;
    padding-bottom: 2rem;
}
