.skillsbox-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0rem 15rem;
}

.skills-img{
    height: 7.5rem;
    width: auto;
}

.skills-card{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 20rem;
    height: 20rem;

    background-color: #1C1C22;
    position: relative;  
    border-radius: 2rem;
    justify-content: center;

    margin: 2rem 4rem 4rem 2rem;
}


.skills-card:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right,#B16CEA, #FF5E69, #FF8A56, #FFA84B);
    transform: translate3d(0px, 0px, 0) scale(1);
    filter: blur(10px);
    opacity: var(0.54);
    transition: opacity 0.3s;
    border-radius: inherit;
}
.skills-card::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

.skills-title{
    margin-top: 2.5rem;
}